<div id='content'></div>


<div class="col-md-12">
  <div class="form-horizontal submit-form">
	<div class="row">
		<div class="col-lg-6">
			<h2>[ <%-hinfo.hname%> ]</h2>
		</div>
		<div class="col-lg-6" style="margin-bottom : 0%">
			<a class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm"><i class="fas fa-sm text-white-50"><%-hinfo.deadline%></i></a></div>
	</div>
    <div class="form-group">
      <div class="row" style="margin-top: 3%">
        <h4 class="col-lg-6"><label class="control-label text-primary" for="source">Code Editor</label></h4>
        <h4 class="col-lg-6"><label class="control-label text-warning" for="fixed">Recommended Style</label></h4>
      </div>
      <div class="row">
	<label class="col-md-2 control-label" for="language">Language</label>
	<select name="language" id="langauge">
          <option value="c">C</option>
          <option value="cpp">C++</option>
          <option value="java">Java</option>
        </select>
      </div>
      <div class="row">
        <div class="col-lg-6"><textarea id="source"></textarea></div>
        <div class="col-lg-6"><textarea id="fixed"></textarea></div>
      </div>

      <div class="form-group" style="margin-top: 3%">
        <button class="btn btn-primary" id="sendButton">제출</button>
      </div>
  </div>
  </div>
</div>

<form action="/editor" method="POST" id="hiddenForm" style="display : none">
  <input type="text" name="sourceValue" id="hiddenValue">
</form>
<form action="/AddScore" method="POST" id="addscore" style="display : none">
  <input type="number" name="score" id="score">
</form>
<form action="/Convert" method="POST" id="convert" style="display : none">
  <textarea name="code" id="code"></textarea>
</form>

<script type="text/Javascript">
  let defaultCode = [ `#include <stdio.h>&#10;&#10;int main(){&#10;&#09;printf("Hello World!");&#10;&#09;return 0;&#10;}`,
    `#include <iostream>&#10;&#10;using namespace std;&#10;&#10;int main(){&#10;&#09;cout << "Hello World!" << endl;&#10;&#09;return 0;&#10;}`,
    `public class Test{&#10;&#09;public static void main(String[] args){&#10;&#09;&#09;System.out.println("Hello World!");&#10;&#09;}&#10;}`
  ];

  function setMode(mode) {
    editor = CodeMirror.fromTextArea(document.getElementById("source"), {
      lineNumbers: true,
      matchBrackets: true,
      mode: mode
    });
    editor.setSize(500, 300);
    fixed = CodeMirror.fromTextArea(document.getElementById("fixed"), {
      lineNumbers: true,
      matchBrackets: true,
      mode: mode
    });
    fixed.setSize(500, 300);
  }

  let editor = CodeMirror.fromTextArea(document.getElementById("source"), {
    lineNumbers: true,
    matchBrackets: true,
    mode: "text/x-csrc"
  });

  editor.setSize(500, 300);

  // console.log(editor.getMode());

  let fixed = CodeMirror.fromTextArea(document.getElementById("fixed"), {
    lineNumbers: true,
    matchBrackets: true,
    mode: "text/x-csrc"
  });

  fixed.setSize(500, 300);

  function changeLanguage(e) {
    var value = $(e).val();
    
      jQuery('.CodeMirror.cm-s-default').remove();
      if (value == 'c') {
        jQuery("#source").html(defaultCode[0]);
        setMode("text/x-csrc");
      }
      else if (value == 'cpp') {
        jQuery("#source").html(defaultCode[1]);
        setMode("text/x-c++src");
      }
      else if (value == 'java') {
        jQuery("#source").html(`${defaultCode[2]}`);
        setMode("text/x-java");
      }
      recommend();
  }

  $("document").ready(function() {
    $('select[name="language"]').each(function () {
      changeLanguage(this);
    });
  })

  $('select[name="language"]').change(function () {
    $('select[name="language"]').each(function () {
      changeLanguage(this);
    });
  });

  $(function () {
    var failMessage = function () {
      return alert("붙여넣기 기능은 사용하실 수 없습니다."), false;
    },
      preventEvent = {
        "keydown": function (e) {
          var keycode = function (e) {
            return ('which' in e ? e.which : e.keyCode)
          }(e),
            ctrl_cv = (e.ctrlKey && (keycode == 118 || keycode == 86)),
            shift_insert = (e.shiftKey && keycode == 45);
          if (ctrl_cv || shift_insert) {
            return failMessage();
          }
        }
        , "mousedown": function (e) {
          var rightClick = (e.button == 2);
          if (rightClick) {
            return failMessage();
          }
        }
        , "contextmenu": function (e) {
          return failMessage();
        }
      };
    $(document).bind(preventEvent);
  }());

  function recommend() {
    const code = editor.getValue();;
    $.ajax({
      type: 'POST',
      url: '/Convert',
      data: {code:`${code}`, language:`${$('select[name="language"]').val()}`},
      success: function(data) {
        if(data != null) {
          fixed.setValue(data);
        }
      }
     });
  }

  $("#sendButton").click(function() {
    recommend();
  });
</script>